{
  "presets": [
    ["@babel/env", { "targets": "> 0.25%, not dead" }],
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2
      }
    ],
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "removeAttrs": { "attrs": "(data-name)" }
            },
            {
              "cleanupIDs": true
            }
          ]
        }
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@component": "./src/component",
          "@container": "./src/container",
          "@src": "./src",
          "@screen": "./src/screen",
          "@service": "./src/service",
          "@styles": "./src/styles",
          "@utils": "./src/utils",
          "@assets": "./src/assets"
        }
      }
    ]
  ]
}
