@import 'variables';
@import 'mixins';

.appFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
  padding: 0 $spacing-2;

  @include screen-phone {
    flex-direction: column;
    padding-top: $spacing-4;
  }
}

.nav {
  & ul {
    @include screen-phone {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    & li {
      @include gutter($size: 0);
    }
  }
}
